.Post{
    display: flex;
    flex-wrap: wrap;
    width:100vw;
    justify-content: space-around;
    margin-top:4.2rem;

}

.searchbox{
    width:20rem;
  
  height:2rem;
    background-color: #6287de;
    position: absolute;
    top:6rem;
    right:2rem;
    
    
}
.searchbox input{
    width:16rem;
    height:2rem;
  
}
.searchbox img{
    height:1.7rem;
    margin-left:1rem;
}
@media(max-width:1024px)
{
    .Post{
        display: flex;
        flex-wrap: wrap;
        width:100vw;
        justify-content: space-around;
        margin-top:5rem;
    
    }
    .searchbox{
        width:20rem;
        border-radius: 20px;
      height:2rem;
        background-color: #3DD1CF;
        position: absolute;
        top:6rem;
      margin-left:auto;
      margin-right: auto;
        
        
    }
    .searchbox input{
        width:17rem;
        height:2rem;
        border-radius: 20px;
    }
    .searchbox img{
        height:1.1rem;
        margin-left:1rem;
    }
}