
.postpage{
    width:70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
}
.postpage h1{
    color:white;
    font-size: 2rem;

}

.postpage .gradient{
    width:70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    height:10rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.27)),url("../../images/holo.png");
    border-radius: 20px;
}
.postimg{
    height:10rem;
    position: relative;
    left:50vw;
}
.desc{
    margin-top: 3rem;
    color: white;
    width:45vw;
}
.skills{
    margin-top: 3rem;
    color: white;
    width:10vw;
    position: absolute;
    right:18em;
    top:25rem;
    
}
.skills p{
    background-color: #247A4D;

}
.skills button{
    margin-top: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    color: #247A4D;
}
@media(max-width:700px)
{
    
.postpage{
    width:90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
}
.postpage h1{
    color:white;
    font-size: 2rem;

}

.postpage .gradient{
    width:90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    height:10rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.27)),url("../../images/holo.png");
    border-radius: 20px;
}
.postimg{
    height:10rem;
    position: relative;
    left:50vw;
}
.desc{
    margin-top: 3rem;
    color: white;
    width:90vw;
}
.skills{
    margin-top: 3rem;
    color: white;
    width:90vw;
    position: inherit;

    
}
.skills p{
    background-color: #247A4D;

}
.skills button{
    margin-top: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    color: #247A4D;
}
}

/* .PostPage{
    height:100vh;
    margin-left: 4rem;
}
.PostPage h1{
    margin-top: 3rem;
    font-weight: bold;
    color:white;
    
}
.PostPage h3{
    margin-top: 1rem;

    font-weight: bold;
    color:white;

}
.postBody{
    width:50vw;
    margin-top:2rem;
    display: inline-block;
    color:white;
}
.PostPage img{
    position: absolute;
    right:4rem;
    top:6rem;
    height:20rem
}
.PostPage h4{
    margin-top: 4rem;
    font-weight: 600;
    color:white;
}
.postSkills{
 
    font-size: 1.4rem;
    color:white;
   
}
.postSkills h5{
    margin-top: 3rem;
    font-weight: 600;
}
.postSteps{
    position: absolute;
    right:4rem;
    width:30vw;
    top:25rem;
    color:white;
}
@media(max-width:700px)
{
    .PostPage{
        height:100vh;
        margin-left: 1rem;
    }
    .PostPage h1{
        margin-top: 3rem;
        font-weight: bold;
        color:white;
        
    }
    .PostPage h3{
        margin-top: 1rem;
    
        font-weight: bold;
        color:white;
    
    }
    .postBody{
        width:90vw;
        margin-top:2rem;
        display: inline-block;
        color:white;
    }
    .PostPage img{
        position: relative;
        margin-left:4rem;
    }
    .PostPage h4{
        margin-top: 8rem;
        font-weight: 600;
        color:white;
    }
    .postSkills{
     
        font-size: 1.4rem;
        color:white;
       
    }
    .postSkills h5{
        margin-top: 3rem;
        font-weight: 600;
    }
    .postSteps{
      position: relative;
        color:white;
        width:90vw;
        left:0.1rem;
        margin-top: -30rem;
    }
} */