.userpagecontainer
{
    width:50vw;
    text-align: center;
    margin-top: 9rem;

  
    padding: 2rem;
    border-radius: 20px;

}
.avatar{
    height:13rem;
    position: absolute;
    left:3rem;
    top:6rem;

}
.profiledetails{
    margin-top:5rem;
    position: absolute;
    left:3rem;
    color:white;
}
.profiledetails h1{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: -2rem;
    color:white;
}
@media(max-width:700px)
{.userpagecontainer
    {
        width:50vw;
        text-align: center;
        margin-top: 9rem;
    
      
        padding: 2rem;
        border-radius: 20px;
    
    }
    .avatar{
        height:13rem;
        position: absolute;
        left:5rem;
        top:6rem;
    
    }
    .profiledetails{
        margin-top:5rem;
        position: absolute;
        left:4rem;
        color:white;
    }
    .profiledetails h1{
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: -2rem;
        color:white;
    }

}
/* .userpagecontainer h1{
    font-size: 1.7rem;
}
.profilename{
position: absolute;
top:5rem;
right:2rem;


}
.createpostdiv{
    position:absolute;
    bottom: 3rem;
    right:5rem;
    font-size:2.5rem;
    background-color: #298CCD;
    height:4rem;
    text-align: center;
    width:4rem;
    border-radius:50%;
}
.createpostbutton{
   color:white;
   text-decoration: none;
}

@media(max-width:700px)
{
    .userpagecontainer
{
    width:90vw;
    text-align: center;
    margin-top: 22rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #A6D1D1;
    padding: 2rem;
    border-radius: 20px;
    
}
.profilename{
    position: absolute;
    top:7rem;
    right:3rem;
    
    padding: 2rem;
    border-radius: 20px;
    }
    .createpostdiv{
        position:absolute;
        bottom: 3rem;
        right:2rem;
        font-size:2.5rem;
        background-color: #298CCD;
        height:4rem;
        text-align: center;
        width:4rem;
        border-radius:50%;
    }
} */