.nav-inline{
    display:inline;
    position: absolute;
    right:0rem;
    top:0rem;
    z-index: 1000000;
    width:100vw;
background:transparent;
}
.logo{
    height:8rem;
    position: absolute;
    top:-2rem;
    z-index:1000;
}
.head-link{
    font-size:1.15rem;
    font-weight: bold;
    
}
.head-link:active{
    background-color:#298ccd ;
    width:5rem;
    text-align: center;
    border-radius:20px;
    text-decoration: underline;
}
.head-link:hover{
    background-color:#298ccd ;
    width:5rem;
    text-align: center;
    border-radius:20px;
    text-decoration: underline;
    color:white;
    font-weight: bolder;
}
.avatar{
    height:2rem;
}
.logoutButton{
    border:0px;
}
@media(max-width:1024px)
{
    .head-link{
        font-size:1.15rem;
        font-weight: bolder;
        margin-right:-5rem;
    }
    .nav-inline{
        display:inline;
        position: absolute;
        right:0rem;
        top:0rem;
        z-index: 100;
        width:auto;
        }
}
