html,body{
    overflow-x: hidden;
}
.loginForm{

    background-color: #AFD0D0;
    height:32rem;
    width:28rem;
    position: absolute;
    right:12rem;
    bottom:5rem;
}
.loginDiv{
  margin-left: auto;
  margin-right: auto;

}
.loginInput{
    padding:1rem;
    width:22rem;
    margin-left: 2rem;
    margin-top: 3rem;
    border-radius:10px;

}

.logSubmit {
    margin-left:2rem;
    margin-top:3rem;
    width:24rem;
    height:2.5rem;
    background-color:#125185 ;
    font-size: 1rem;
    color:white;
    border-radius: 10px;
    margin-bottom:2rem;

}
.loginForm h1{
    text-align: center;
    margin-top: 3rem;
}
.loginForm span{
    margin-left:6rem;
    font-size:1.3rem;
    
}
.signupForm{

    background-color: #AFD0D0;
    height:36rem;
    width:28rem;
    position: absolute;
    left:10rem;
    bottom:2rem;
}
.signupForm .loginInput{
    padding:1rem;
    width:22rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
    border-radius:10px;
}
.signupForm span{
    margin-left:5rem;
    font-size:1.3rem;
    
}
.signupForm h1{
    text-align: center;
    margin-top: 3rem;
}
.loginImage{
    position: absolute;
    bottom:0;
    left:10rem;
}
.signupImage{
    position: absolute;
    bottom:0;
    right:4rem;
    z-index:1000;
}
.signupLight{
    position: absolute;
    bottom:0;
    right:0rem;
    z-index:100;
}
.signupDark{
    position: absolute;
    bottom:0;
    right:0rem;
}
@media(max-width:700px)
{
    .loginForm h1{
        text-align: center;
        font-size: 1.6rem;
        margin-top: 3rem;
    }
    .loginForm{

        background-color: #AFD0D0;
        height:75vh;
        width:80vw;
        position: absolute;
        right:2rem;
        bottom:3rem;
    } 
    .loginInput{
        padding:1rem;
        width:14rem;
        margin-left:1.2rem;
        margin-top:2.5rem;
        border-radius:10px;
    
    }
    .logSubmit {
        margin-left:1rem;
        margin-top:3rem;
        width:16rem;
        height:2.5rem;
        background-color:#125185 ;
        font-size: 1rem;
        color:white;
        border-radius: 10px;
        margin-bottom:2rem;
    
    }
    .loginForm span{
        margin-left:2rem;
        font-size:1.2rem;
        
    }
    .signupForm{

        background-color: #AFD0D0;
        height:90vh;
        width:80vw;
        position: absolute;
        left:2.5rem;
        bottom:1rem;
    }
    .signupForm span{
        margin-left:1rem;
        font-size:1.2rem;
        
    }
    .signupForm h1{
        text-align: center;
        margin-top: 1.5rem;
        font-size: 1.6rem;
    }
    .signupForm .loginInput{
        padding:1rem;
        width:14rem;
        margin-left:1.2rem;
        margin-top:1.5rem;
        border-radius:10px;
    }
    .loginImage{
      display:none;
    }
    .signupImage{
     display:none;
    }
    .signupDark{
        display:none;
    }
    .signupLight{
        display:none;
    }
}